<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charst="UTF-8">
        <title>My Resolution</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
            <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
        </head>
        <body>
            <header>
                <nav class="navbar navbar-inverse">
                    <a href="/" class="navbar-brand">R3solution</a>
                    <ul class="navbar navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </header> 
          


            <!-- main stuff -->
            <%- defineContent('hero') %>

            <main>
            <div class="container">
            <%- body %>
            
            </div>
            </main>

            <footer>
                R3solution. copyright &copy; 2016
            </footer>
        </body>
    </html>